header {
    background-color: #149f14;
    height: 50px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

:disabled {
    border-color: #FFF;
}

select.jewel_type{
    width: 24px;
}
select.jewel_lv{
    width: 40px;
}

input[type="number"] {
    text-align: center;
    width: 60px;
    border: solid 1px #000;
}

select {
    border: solid 1px #000;
}

table td {
    border: 1px solid #000;
}

table td.kind {
    background-color: #CCC;
    width: 80px;
}
table td.type {
    width: 180px;
}

select.buff,
select.debuff,
select.critical_rate,
select.critical_buff {
    width: 300px;
}

.status,
.jewel {
    margin-left: 3px;
}


input.calc_btn {
    width: 100px;
    font-size: 20px;
    color: #fff;
    background: #149f14;
    border-radius: 100vh;
}

.damage_label {
    font-weight: bold;
    font-size: 18px;
}
.damage {
    font-weight: bold;
    font-size: 30px;
    width: 180px;
}
.min_damage {
    font-weight: bold;
    font-size: 20px;
    width: 100px;
}
.enemy_weak {
    font-weight: bold;
    color: red;
}
.enemy_resist {
    font-weight: bold;
    color: blue;
}

