@media screen and (max-width: 1200px) {
  .main_area {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .main_area {
    width: 1200px;
  }
}

div.frame {
  height: calc(100svh - 75px);
}

td, th {
  font-size: 13px;
}

td.limit_0 {
  background-color: #fff;
}
td.limit_1 {
  background-color: #7aff7a;
}
td.limit_2 {
  background-color: #ffff7a;
}
td.limit_3 {
  background-color: #ffbc7a;
}
td.limit_4 {
  background-color: #ff7a7a;
}

tr:has(.underLine) > td {
  border-bottom: double #000;
}
td.rightLine {
  border-right: double #000;
}
.handsontable td:first-of-type {
  border-left: double #000!important;
}
.handsontable .htDimmed {
  color: #000!important;
}
td {
  white-space: nowrap!important;
}

input[type="button"].default {
  font-size: 16px;
  color: #fff;
  background: #149f14;
  border-radius: 100vh;
  height: 26px;
}